* {
    list-style: none;
    text-decoration: none;
    margin: 0;/*memmbuat margin 0 agar tampilan web tidak mengecil*/
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #fff;
}
aside .sidebar {/*Membuat bagian siderbarnya*/
    background: rgb(5,68,104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
aside .sidebar .profile{
    margin-bottom: 25px;
    text-align: center;
}
aside .sidebar .profile img{/*Gambar diubah menjadi bentuk lingkaran di dalam sidebar*/
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}
aside .sidebar .profile h3{
    color: white;
    margin: 10px 0 5px;
}
aside .sidebar .profile p{
    color: white;
    margin: 10px 0 5px;
}
header nav{/*membuat bagian navbar di atas*/
    width: calc(100% - 225px);
    margin-left: 224px;
    transition: all 0.5s ease;
    position: fixed;
}
header nav .navbar{/*mebuat agar item yang ada di navbar menjadi sejajar*/
    display: flex;
    background-color: rgb(7,105,185);
    justify-content: space-between;
}
header nav .navbar ul{
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 30px;
    gap: 0.5rem;
    
}
header nav .navbar ul li a{
    font-family: Poppins;
    color: #fff;
    font-size: 15px;
}
header nav .navbar p{
    font-size: 30px;
    font-family: Poppins;
    color: #fff;
}
header nav .navbar>img{
    width: 44px;
    height: 44px;
}
header nav .navbar .logo a{
    display: flex;
    font-size: 10px;
    gap: 0.5rem;
    align-items: center;
}
header nav .navbar .logo li a{
    font-size: 15px;
    color: white;
}
header nav .navbar .logo a:hover,header nav .navbar ul li a:hover{/*saat kursor berada pada home dan profile akan berubah warnanya*/
    color: lightskyblue;
}
body.active aside .sidebar{/*saat profile ditekan sidebar akan bergeser ke kiri*/
    left: -225px;
}
body.active header nav,body.active footer,body.active article .container{/*nav,article dan footer pun akan bergerak mengikuti layar*/
    margin-left: 0;
    width: 100%;
}
footer{/*membuat bagian footer agar berada di posisi bawah*/
    background: #111;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "open sans";
    padding-top: 40px;
    color: #fff;
    width: calc(100% - 225px);
    margin-left: 224.5px;
    transition: all 0.5s ease;
    padding: 20px 0;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
    position: fixed;
}
article .container{/*membuat article berada di posisi tengah*/
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article .main{
    color: #111;
}
article .main h2{
    font-family: Poppins;
    font-size: 3rem;
}
article .main h3{
    font-family: sans-serif;
}
article .container img{
    width: 400px;
}
article .container .main{
    display: grid;
    padding-left: 15%;
}